@using Presentation.Extensions
@using EntitiesServices.Work_Classes;
@model ERP_Condominios_Solution.ViewModels.CRMPedidoViewModel
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="modalContainer">
        <div id="modal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        @*titulo gerado dinamicamente*@
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @*Gerado dinamicamente*@
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="containerModalDesc">
        <div class="modal fade" id="modalDesc" tabindex="-1" role="dialog" aria-labelledby="modalDesc" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalDesc">Mensagem Enviada</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div id="modalDescBody" class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="page-title">
        <h3 class="title">Vendas</h3>
        <br />
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("CarregarBase", "BaseAdmin")">Dashboard</a>
            </li>
            <li>
                <a href="@Url.Action("MontarTelaDashboardVendas", "CRM")">Dashboard de Vendas</a>
            </li>
            <li>
                <a href="@Url.Action("MontarTelaPedidoVenda", "CRM")">Vendas</a>
            </li>
            <li class="active">
                <strong>Pedido de Venda - Edição</strong>
            </li>
        </ol>
        <br />
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Pedido de Venda - Edição</h5>
                </div>
                <div class="ibox-content">
                    @Html.AntiForgeryToken()
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert">Fechar</button>
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        </div>
                    }
                    <div class="form-group">
                        @Html.ButtonLinkIndex(text: "Cancelar Venda", action: "CancelarVenda", controller: "CRM")
                        @Html.ButtonLinkIndex(text: "Gerar Pedido Impresso", action: "GerarRelatorioVenda", controller: "CRM")
                        @Html.ButtonLinkIndex(text: "Voltar", action: "MontarTelaPedidoVenda", controller: "CRM")
                    </div>
                    <div class="tabs-container">
                        <ul class="nav nav-tabs">
                            @if ((Int32)Session["SegueInclusao"] == 0)
                            {
                                <li class="active"><a data-toggle="tab" href="#tab-1">Dados Gerais</a></li>
                                <li class=""><a data-toggle="tab" href="#tab-4">Itens da Venda</a></li>
                                <li class=""><a data-toggle="tab" href="#tab-3">Anotações</a></li>
                                <li class=""><a data-toggle="tab" href="#tab-2">Anexos</a></li>
                            }
                            else
                            {
                                <li class=""><a data-toggle="tab" href="#tab-1">Dados Gerais</a></li>
                                <li class="active"><a data-toggle="tab" href="#tab-4">Itens da Venda</a></li>
                                <li class=""><a data-toggle="tab" href="#tab-3">Anotações</a></li>
                                <li class=""><a data-toggle="tab" href="#tab-2">Anexos</a></li>
                            }
                        </ul>
                        <div class="tab-content">
                            @*Dados Gerais*@
                            @if ((Int32)Session["SegueInclusao"] == 0)
                            {
                                <div id="tab-1" class="tab-pane active">
                                    <div class="panel-body">
                                        @using (Html.BeginForm("EditarVenda", "CRM", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", @id = "pwd-container1" }))
                                        {
                                            <div class="form-group">
                                                @Html.HiddenFor(m => m.ASSI_CD_ID)
                                                @Html.HiddenFor(m => m.CRPV_DS_APROVACAO)
                                                @Html.HiddenFor(m => m.CRPV_DS_CANCELAMENTO)
                                                @Html.HiddenFor(m => m.CRPV_DS_REPROVACAO)
                                                @Html.HiddenFor(m => m.CRPV_DT_APROVACAO)
                                                @Html.HiddenFor(m => m.CRPV_DT_CANCELAMENTO)
                                                @Html.HiddenFor(m => m.CRPV_DT_ENVIO)
                                                @Html.HiddenFor(m => m.CRPV_DT_PEDIDO)
                                                @Html.HiddenFor(m => m.CRPV_DT_REPROVACAO)
                                                @Html.HiddenFor(m => m.CRPV_IN_ATIVO)
                                                @Html.HiddenFor(m => m.CRPV_IN_STATUS)
                                                @Html.HiddenFor(m => m.CRPV_LK_LINK)
                                                @Html.HiddenFor(m => m.CRPV_NM_NOME)
                                                @Html.HiddenFor(m => m.CRPV_NR_NUMERO)
                                                @Html.HiddenFor(m => m.CRM1_CD_ID)
                                                @Html.HiddenFor(m => m.CRPV_IN_NUMERO_GERADO)
                                                @Html.HiddenFor(m => m.FILI_CD_ID)
                                                @Html.HiddenFor(m => m.USUA_CD_ID)
                                                @Html.HiddenFor(m => m.CRPV_CD_ID)
                                                @Html.ButtonActionSubmit(text: "Confirma Edição da Venda", htmlAttributes: new { id = "basictoast" })
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <div class="ibox float-e-margins" style="border-bottom: solid; border-bottom-color: darkblue; border-bottom-width: 1px; border-left: solid; border-left-color: darkblue; border-left-width: 1px; border-right: solid; border-right-color: darkblue; border-right-width: 1px; border-top: solid; border-top-color: darkblue; border-top-width: 1px; height: 250px" >
                                                        <div class="ibox-title"  style="color: black">
                                                            <h5>Dados do Cliente</h5>
                                                            <span style="float: right"><a href="@Url.Action("EnviarEMailCliente", "CRM", new { id = Model.CLIENTE.CLIE_CD_ID})" />Enviar E-Mail</span>
                                                        </div>
                                                        <div class="ibox-content" style="color: black">
                                                            <h3 style="color: green"><strong><a href="@Url.Action("ConsultarCliente", "CRM", new { id = Model.CLIENTE.CLIE_CD_ID })">@Model.CLIENTE.CLIE_NM_NOME</a></strong></h3>
                                                            @if (Model.CLIENTE.CLIE_NM_ENDERECO != null)
                                                            {
                                                                <address>
                                                                    @Model.CLIENTE.CLIE_NM_ENDERECO @Model.CLIENTE.CLIE_NR_NUMERO @Model.CLIENTE.CLIE_NM_COMPLEMENTO<br>
                                                                    @Model.CLIENTE.CLIE_NM_BAIRRO  - @Model.CLIENTE.CLIE_NM_CIDADE - @Model.CLIENTE.UF.UF_SG_SIGLA - @Model.CLIENTE.CLIE_NR_CEP<br>
                                                                    @if (Model.CLIENTE.CLIE_NR_TELEFONE != null)
	                                                                {
                                                                        <abbr title="Fone">P:</abbr> @Model.CLIENTE.CLIE_NR_TELEFONE
                                                                        <br />
	                                                                }
                                                                    <abbr title="Cel">C:</abbr>@Model.CLIENTE.CLIE_NR_CELULAR
                                                                </address>
                                                            }
                                                            else
                                                            {
                                                                <h5>Não informado</h5>
                                                            }
                                                            <p><i class="fa fa-envelope"></i><a href="@Url.Action("EnviarEMailCliente", "CRM", new { id = Model.CLIENTE.CLIE_CD_ID})">@Model.CLIENTE.CLIE_NM_EMAIL</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-8">
                                                    <div class="ibox float-e-margins" style="border-bottom: solid; border-bottom-color: darkblue; border-bottom-width: 1px; border-left: solid; border-left-color: darkblue; border-left-width: 1px; border-right: solid; border-right-color: darkblue; border-right-width: 1px; border-top: solid; border-top-color: darkblue; border-top-width: 1px; height: 250px" >
                                                        <div class="ibox-title" style="color: black">
                                                            <h5 style="color: black">Dados Básicos da Venda</h5>
                                                        </div>
                                                        <div class="ibox-content"  style="color: black">
                                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                                <div class="col-lg-3 col-md-3 col-xs-12">
                                                                    Responsável*
                                                                    @Html.DropDownListFor(m => m.USUA_CD_ID, (SelectList)ViewBag.Usuarios, "Selecionar", new { @class = "form-control", autofocus = true })
                                                                    @Html.ValidationMessageFor(m => m.USUA_CD_ID, "", new { @style = "color:red" })
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-xs-12">
                                                                    Nome da Venda
                                                                    @Html.TextBoxFor(m => m.CRPV_NM_NOME, new { @class = "form-control", autofocus = true })
                                                                    @Html.ValidationMessageFor(m => m.CRPV_NM_NOME, "",new { @style="color:red" })
                                                                </div>
                                                            </div>
                                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                                <div class="col-lg-1 col-md-1 col-xs-12" style="color:green; font-weight:bold">
                                                                    Número
                                                                    @Html.TextBoxFor(m => m.CRPV_IN_NUMERO_GERADO, new { @class = "form-control", autofocus = true, @readonly="readonly" })
                                                                </div>
                                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                                    Data Da Venda
                                                                    @Html.TextBoxFor(m => m.CRPV_DT_PEDIDO, "{0:dd/MM/yyyy}", new { @class = "form-control", autofocus = true, @id="data1", @readonly="readonly" })
                                                                </div>
                                                                <div class="col-lg-2 col-md-2  col-xs-12">
                                                                    Data Validade*
                                                                    @Html.TextBoxFor(m => m.CRPV_DT_VALIDADE, "{0:dd/MM/yyyy}", new { @class = "form-control date-picker", autofocus = true, @id="data2" })
                                                                    @Html.ValidationMessageFor(m => m.CRPV_DT_VALIDADE, "", new { @style = "color:red" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="ibox float-e-margins" style="border-bottom: solid; border-bottom-color: darkblue; border-bottom-width: 1px; border-left: solid; border-left-color: darkblue; border-left-width: 1px; border-right: solid; border-right-color: darkblue; border-right-width: 1px; border-top: solid; border-top-color: darkblue; border-top-width: 1px; height: 13000px" >
                                                        <div class="ibox-title">
                                                            <h5 style="color: black">Informações da Venda</h5>
                                                        </div>
                                                        <div class="ibox-content"  style="color: black">
                                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                                Introdução
                                                                <div class="col-lg-12 col-md-12 col-xs-12">
                                                                    @Html.TextAreaFor(m => m.CRPV_TX_INTRODUCAO, new { @class = "form-control summernote", style = "width: 100%; height: 100px;", autofocus = true })
                                                                    @Html.ValidationMessageFor(m => m.CRPV_TX_INTRODUCAO, "", new { @style = "color:red" })
                                                                </div>
                                                            </div>
                                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                                <div class="col-lg-3 col-md-3 col-xs-12">
                                                                    Forma de Envio
                                                                    @Html.DropDownListFor(m => m.FOEN_CD_ID, (SelectList)ViewBag.FormaEnvio, "Selecionar", new { @class = "form-control", autofocus = true })
                                                                    @Html.ValidationMessageFor(m => m.FOEN_CD_ID, "", new { @style = "color:red" })
                                                                </div>
                                                                <div class="col-lg-3 col-md-3 col-xs-12">
                                                                    Forma de Frete
                                                                    @Html.DropDownListFor(m => m.FOFR_CD_ID, (SelectList)ViewBag.FormaFrete, "Selecionar", new { @class = "form-control", autofocus = true })
                                                                    @Html.ValidationMessageFor(m => m.FOFR_CD_ID, "", new { @style = "color:red" })
                                                                </div>
                                                            </div>
                                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                                <div class="col-lg-2 col-md-2 col-xs-12" style="color:green; font-weight:bold">
                                                                    Total Produtos (R$)
                                                                    @Html.TextBoxFor(m => m.CRPV_VL_TOTAL_ITENS, new { @class = "form-control", autofocus = true, @readonly="readonly", @id = "prods" })
                                                                </div>
                                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                                    Desconto(-) (R$)
                                                                    @Html.TextBoxFor(m => m.CRPV_VL_DESCONTO, new { @class = "form-control", autofocus = true, @id = "desc", onfocusout = "CalculaTotal()" })
                                                                    @Html.ValidationMessageFor(m => m.CRPV_VL_DESCONTO, "", new { @style = "color:red" })
                                                                </div>
                                                                <div class="col-lg-2 col-md-2  col-xs-12">
                                                                    Frete(+) (R$)
                                                                    @Html.TextBoxFor(m => m.CRPV_VL_FRETE, new { @class = "form-control", autofocus = true, @id = "frete", onfocusout = "CalculaTotal()" })
                                                                    @Html.ValidationMessageFor(m => m.CRPV_VL_FRETE, "", new { @style = "color:red" })
                                                                </div>
                                                                <div class="col-lg-2 col-md-2  col-xs-12">
                                                                    ICMS (R$)
                                                                    @Html.TextBoxFor(m => m.CRPV_VL_ICMS, new { @class = "form-control", autofocus = true })
                                                                    @Html.ValidationMessageFor(m => m.CRPV_VL_ICMS, "", new { @style = "color:red" })
                                                                </div>
                                                                <div class="col-lg-2 col-md-2  col-xs-12">
                                                                    IPI (R$)
                                                                    @Html.TextBoxFor(m => m.CRPV_VL_IPI, new { @class = "form-control", autofocus = true })
                                                                    @Html.ValidationMessageFor(m => m.CRPV_VL_IPI, "", new { @style = "color:red" })
                                                                </div>
                                                            </div>
                                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                                <div class="col-lg-2 col-md-2  col-xs-12">
                                                                    Prazo de Entrega (Dias)
                                                                    @Html.TextBoxFor(m => m.CRPV_IN_PRAZO_ENTREGA, new { @class = "form-control", autofocus = true })
                                                                    @Html.ValidationMessageFor(m => m.CRPV_IN_PRAZO_ENTREGA, "", new { @style = "color:red" })
                                                                </div>
                                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                                    Peso Bruto (Kg)
                                                                    @Html.TextBoxFor(m => m.CRPV_VL_PESO_BRUTO, new { @class = "form-control", autofocus = true })
                                                                    @Html.ValidationMessageFor(m => m.CRPV_VL_PESO_BRUTO, "", new { @style = "color:red" })
                                                                </div>
                                                                <div class="col-lg-2 col-md-2  col-xs-12">
                                                                    Peso Líquido (Kg)
                                                                    @Html.TextBoxFor(m => m.CRPV_VL_PESO_LIQUIDO, new { @class = "form-control", autofocus = true })
                                                                    @Html.ValidationMessageFor(m => m.CRPV_VL_PESO_LIQUIDO, "", new { @style = "color:red" })
                                                                </div>
                                                                <div class="col-lg-2 col-md-2  col-xs-12" style="color:brown; font-weight:bold">
                                                                    Total Pedido (R$)
                                                                    @Html.TextBoxFor(m => m.CRPV_VL_VALOR, new { @class = "form-control", autofocus = true, @readonly="readonly", @id = "total" })
                                                                </div>
                                                            </div>
                                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                                Condições Comerciais
                                                                <div class="col-lg-12 col-md-12 col-xs-12">
                                                                    @Html.TextAreaFor(m => m.CRPV_TX_CONDICOES_COMERCIAIS, new { @class = "form-control summernote", style = "width: 100%; height: 200px;", autofocus = true })
                                                                    @Html.ValidationMessageFor(m => m.CRPV_TX_CONDICOES_COMERCIAIS, "", new { @style = "color:red" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        }
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div id="tab-1" class="tab-pane">
                                    <div class="panel-body">
                                        @using (Html.BeginForm("EditarPedido", "CRM", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", @id = "pwd-container1" }))
                                        {
                                            <div class="form-group">
                                                @Html.HiddenFor(m => m.ASSI_CD_ID)
                                                @Html.HiddenFor(m => m.CRPV_DS_APROVACAO)
                                                @Html.HiddenFor(m => m.CRPV_DS_CANCELAMENTO)
                                                @Html.HiddenFor(m => m.CRPV_DS_REPROVACAO)
                                                @Html.HiddenFor(m => m.CRPV_DT_APROVACAO)
                                                @Html.HiddenFor(m => m.CRPV_DT_CANCELAMENTO)
                                                @Html.HiddenFor(m => m.CRPV_DT_ENVIO)
                                                @Html.HiddenFor(m => m.CRPV_DT_PEDIDO)
                                                @Html.HiddenFor(m => m.CRPV_DT_REPROVACAO)
                                                @Html.HiddenFor(m => m.CRPV_IN_ATIVO)
                                                @Html.HiddenFor(m => m.CRPV_IN_STATUS)
                                                @Html.HiddenFor(m => m.CRPV_LK_LINK)
                                                @Html.HiddenFor(m => m.CRPV_NM_NOME)
                                                @Html.HiddenFor(m => m.CRPV_NR_NUMERO)
                                                @Html.HiddenFor(m => m.CRM1_CD_ID)
                                                @Html.HiddenFor(m => m.FILI_CD_ID)
                                                @Html.HiddenFor(m => m.USUA_CD_ID)
                                                @Html.HiddenFor(m => m.CRPV_CD_ID)
                                                @Html.ButtonActionSubmit(text: "Confirma Edição da Venda", htmlAttributes: new { id = "basictoast" })
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <div class="ibox float-e-margins" style="border-bottom: solid; border-bottom-color: darkblue; border-bottom-width: 1px; border-left: solid; border-left-color: darkblue; border-left-width: 1px; border-right: solid; border-right-color: darkblue; border-right-width: 1px; border-top: solid; border-top-color: darkblue; border-top-width: 1px; height: 250px" >
                                                        <div class="ibox-title"  style="color: black">
                                                            <h5>Dados do Cliente</h5>
                                                            <span style="float: right"><a href="@Url.Action("EnviarEMailCliente", "CRM", new { id = Model.CLIENTE.CLIE_CD_ID})" />Enviar E-Mail</span>
                                                        </div>
                                                        <div class="ibox-content" style="color: black">
                                                            <h3 style="color: green"><strong><a href="@Url.Action("EditarCliente", "Cliente", new { id = Model.CLIENTE.CLIE_CD_ID })">@Model.CLIENTE.CLIE_NM_NOME</a></strong></h3>
                                                            @if (Model.CLIENTE.CLIE_NM_ENDERECO != null)
                                                            {
                                                                <address>
                                                                    @Model.CLIENTE.CLIE_NM_ENDERECO @Model.CLIENTE.CLIE_NR_NUMERO @Model.CLIENTE.CLIE_NM_COMPLEMENTO<br>
                                                                    @Model.CLIENTE.CLIE_NM_BAIRRO  - @Model.CLIENTE.CLIE_NM_CIDADE - @Model.CLIENTE.UF.UF_SG_SIGLA - @Model.CLIENTE.CLIE_NR_CEP<br>
                                                                    @if (Model.CLIENTE.CLIE_NR_TELEFONE != null)
	                                                                {
                                                                        <abbr title="Fone">P:</abbr> @Model.CLIENTE.CLIE_NR_TELEFONE
                                                                        <br />
	                                                                }
                                                                    <abbr title="Cel">C:</abbr>@Model.CLIENTE.CLIE_NR_CELULAR
                                                                </address>
                                                            }
                                                            else
                                                            {
                                                                <h5>Não informado</h5>
                                                            }
                                                            <p><i class="fa fa-envelope"></i><a href="@Url.Action("EnviarEMailCliente", "CRM", new { id = Model.CLIENTE.CLIE_CD_ID})">@Model.CLIENTE.CLIE_NM_EMAIL</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-8">
                                                    <div class="ibox float-e-margins" style="border-bottom: solid; border-bottom-color: darkblue; border-bottom-width: 1px; border-left: solid; border-left-color: darkblue; border-left-width: 1px; border-right: solid; border-right-color: darkblue; border-right-width: 1px; border-top: solid; border-top-color: darkblue; border-top-width: 1px; height: 250px" >
                                                        <div class="ibox-title" style="color: black">
                                                            <h5 style="color: black">Dados Básicos da Venda</h5>
                                                        </div>
                                                        <div class="ibox-content"  style="color: black">
                                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                                <div class="col-lg-3 col-md-3 col-xs-12">
                                                                    Responsável*
                                                                    @Html.DropDownListFor(m => m.USUA_CD_ID, (SelectList)ViewBag.Usuarios, "Selecionar", new { @class = "form-control", autofocus = true })
                                                                    @Html.ValidationMessageFor(m => m.USUA_CD_ID, "", new { @style = "color:red" })
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-xs-12">
                                                                    Nome da Venda
                                                                    @Html.TextBoxFor(m => m.CRPV_NM_NOME, new { @class = "form-control", autofocus = true })
                                                                    @Html.ValidationMessageFor(m => m.CRPV_NM_NOME, "",new { @style="color:red" })
                                                                </div>
                                                            </div>
                                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                                    Número
                                                                    @Html.TextBoxFor(m => m.CRPV_IN_NUMERO_GERADO, new { @class = "form-control", autofocus = true, @readonly="readonly" })
                                                                </div>
                                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                                    Data da Venda
                                                                    @Html.TextBoxFor(m => m.CRPV_DT_PEDIDO, "{0:dd/MM/yyyy}", new { @class = "form-control", autofocus = true, @id="data1", @readonly="readonly" })
                                                                </div>
                                                                <div class="col-lg-2 col-md-2  col-xs-12">
                                                                    Data Validade*
                                                                    @Html.TextBoxFor(m => m.CRPV_DT_VALIDADE, "{0:dd/MM/yyyy}", new { @class = "form-control date-picker", autofocus = true, @id="data2" })
                                                                    @Html.ValidationMessageFor(m => m.CRPV_DT_VALIDADE, "", new { @style = "color:red" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="ibox float-e-margins" style="border-bottom: solid; border-bottom-color: darkblue; border-bottom-width: 1px; border-left: solid; border-left-color: darkblue; border-left-width: 1px; border-right: solid; border-right-color: darkblue; border-right-width: 1px; border-top: solid; border-top-color: darkblue; border-top-width: 1px; height: 13000px" >
                                                        <div class="ibox-title">
                                                            <h5 style="color: black">Informações da Venda</h5>
                                                        </div>
                                                        <div class="ibox-content"  style="color: black">
                                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                                Introdução
                                                                <div class="col-lg-12 col-md-12 col-xs-12">
                                                                    @Html.TextAreaFor(m => m.CRPV_TX_INTRODUCAO, new { @class = "form-control summernote", style = "width: 100%; height: 100px;", autofocus = true })
                                                                    @Html.ValidationMessageFor(m => m.CRPV_TX_INTRODUCAO, "", new { @style = "color:red" })
                                                                </div>
                                                            </div>
                                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                                <div class="col-lg-3 col-md-3 col-xs-12">
                                                                    Forma de Envio
                                                                    @Html.DropDownListFor(m => m.FOEN_CD_ID, (SelectList)ViewBag.FormaEnvio, "Selecionar", new { @class = "form-control", autofocus = true })
                                                                    @Html.ValidationMessageFor(m => m.FOEN_CD_ID, "", new { @style = "color:red" })
                                                                </div>
                                                                <div class="col-lg-3 col-md-3 col-xs-12">
                                                                    Forma de Frete
                                                                    @Html.DropDownListFor(m => m.FOFR_CD_ID, (SelectList)ViewBag.FormaFrete, "Selecionar", new { @class = "form-control", autofocus = true })
                                                                    @Html.ValidationMessageFor(m => m.FOFR_CD_ID, "", new { @style = "color:red" })
                                                                </div>
                                                            </div>
                                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                                <div class="col-lg-2 col-md-2 col-xs-12" style="color:green; font-weight:bold">
                                                                    Total Produtos (R$)
                                                                    @Html.TextBoxFor(m => m.CRPV_VL_TOTAL_ITENS, new { @class = "form-control", autofocus = true, @readonly="readonly", @id = "prods" })
                                                                </div>
                                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                                    Desconto(-) (R$)
                                                                    @Html.TextBoxFor(m => m.CRPV_VL_DESCONTO, new { @class = "form-control", autofocus = true, @id = "desc", onfocusout = "CalculaTotal()" })
                                                                    @Html.ValidationMessageFor(m => m.CRPV_VL_DESCONTO, "", new { @style = "color:red" })
                                                                </div>
                                                                <div class="col-lg-2 col-md-2  col-xs-12">
                                                                    Frete(+) (R$)
                                                                    @Html.TextBoxFor(m => m.CRPV_VL_FRETE, new { @class = "form-control", autofocus = true, @id = "frete", onfocusout = "CalculaTotal()" })
                                                                    @Html.ValidationMessageFor(m => m.CRPV_VL_FRETE, "", new { @style = "color:red" })
                                                                </div>
                                                                <div class="col-lg-2 col-md-2  col-xs-12" style="color:steelblue; font-weight:bold">
                                                                    ICMS (R$)
                                                                    @Html.TextBoxFor(m => m.CRPV_VL_ICMS, new { @class = "form-control", autofocus = true })
                                                                    @Html.ValidationMessageFor(m => m.CRPV_VL_ICMS, "", new { @style = "color:red" })
                                                                </div>
                                                                <div class="col-lg-2 col-md-2  col-xs-12" style="color:steelblue; font-weight:bold">
                                                                    IPI (R$)
                                                                    @Html.TextBoxFor(m => m.CRPV_VL_IPI, new { @class = "form-control", autofocus = true })
                                                                    @Html.ValidationMessageFor(m => m.CRPV_VL_IPI, "", new { @style = "color:red" })
                                                                </div>
                                                            </div>
                                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                                <div class="col-lg-2 col-md-2  col-xs-12">
                                                                    Prazo de Entrega (Dias)
                                                                    @Html.TextBoxFor(m => m.CRPV_IN_PRAZO_ENTREGA, new { @class = "form-control", autofocus = true })
                                                                    @Html.ValidationMessageFor(m => m.CRPV_IN_PRAZO_ENTREGA, "", new { @style = "color:red" })
                                                                </div>
                                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                                    Peso Bruto (Kg)
                                                                    @Html.TextBoxFor(m => m.CRPV_VL_PESO_BRUTO, new { @class = "form-control", autofocus = true })
                                                                    @Html.ValidationMessageFor(m => m.CRPV_VL_PESO_BRUTO, "", new { @style = "color:red" })
                                                                </div>
                                                                <div class="col-lg-2 col-md-2  col-xs-12">
                                                                    Peso Líquido (Kg)
                                                                    @Html.TextBoxFor(m => m.CRPV_VL_PESO_LIQUIDO, new { @class = "form-control", autofocus = true })
                                                                    @Html.ValidationMessageFor(m => m.CRPV_VL_PESO_LIQUIDO, "", new { @style = "color:red" })
                                                                </div>
                                                                <div class="col-lg-2 col-md-2  col-xs-12" style="color:brown; font-weight:bold">
                                                                    Total Orçamento (R$)
                                                                    @Html.TextBoxFor(m => m.CRPV_VL_VALOR, new { @class = "form-control", autofocus = true, @readonly="readonly"  })
                                                                </div>
                                                            </div>
                                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                                Condições Comerciais
                                                                <div class="col-lg-12 col-md-12 col-xs-12">
                                                                    @Html.TextAreaFor(m => m.CRPV_TX_CONDICOES_COMERCIAIS, new { @class = "form-control summernote", style = "width: 100%; height: 200px;", autofocus = true })
                                                                    @Html.ValidationMessageFor(m => m.CRPV_TX_CONDICOES_COMERCIAIS, "", new { @style = "color:red" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        }
                                    </div>
                                </div>
                            }

                            @*Comentários*@
                            <div id="tab-3" class="tab-pane">
                                <div class="panel-body">
                                    <div class="ibox float-e-margins" style="border-bottom: solid; border-bottom-color: darkblue; border-bottom-width: 1px; border-left: solid; border-left-color: darkblue; border-left-width: 1px; border-right: solid; border-right-color: darkblue; border-right-width: 1px; border-top: solid; border-top-color: darkblue; border-top-width: 1px; height: 800px" >
                                        <div class="ibox-title"  style="color: black">
                                            <h5>Anotações - Follow-Up</h5>
                                        </div>
                                        <div class="ibox-content" style="color: black; overflow: auto">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    @if (Model.CRM_PEDIDO_VENDA_ACOMPANHAMENTO.Count > 0)
                                                    {
                                                        foreach (var item in (Model.CRM_PEDIDO_VENDA_ACOMPANHAMENTO))
                                                        {
                                                            <div class="social-feed-box">
                                                                <div class="social-avatar">
                                                                    <a href="" class="pull-left">
                                                                        <img src="@Url.Content(item.USUARIO.USUA_AQ_FOTO)" style="width: auto; height: auto; max-height: 110px; max-width: 90px;">
                                                                    </a>
                                                                    <div class="media-body">
                                                                        <a href="#">
                                                                            @item.USUARIO.USUA_NM_NOME
                                                                        </a>
                                                                        <small class="text-muted">@item.CRPC_DT_ACOMPANHAMENTO.ToString("dd/MM/yyyy HH:mm")</small>
                                                                    </div>
                                                                </div>
                                                                <div class="social-body">
                                                                    <p>
                                                                        @item.CRPC_TX_ACOMPANHAMENTO
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <div class="row">
                                                            <div class="col-lg-4 col-md-4 col-xs-2">

                                                            </div>
                                                            <div style="border: 5px solid #F6A54A; padding: 10px; border-radius: 8px 8px; " class="col-lg-4 col-md-4 col-xs-8">
                                                                <h2 style="font-weight: bold">Nenhuma anotação cadastrada nessa venda</h2>
                                                            </div>
                                                            <div class="col-lg-4 col-md-4 col-xs-2">

                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                            <br />
                                            <div class="form-group">
                                                @Html.ButtonLinkIndex(text: "Incluir Nova Anotação", action: "IncluirComentarioPedidoCRM", controller: "CRM")
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @*Imagens - Foto e Anexos*@
                            <div id="tab-2" class="tab-pane">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-xs-12">
                                            <h4>Anexos</h4>
                                            <br />
                                            <div class="form-group">
                                                @using (Html.BeginForm("UploadFileCRMPedido", "CRM", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { enctype = "multipart/form-data", @id = "pwd-container2" }))
                                                {
                                                    <div class="ibox-content">
                                                        @if (Model.CRM_PEDIDO_VENDA_ANEXO.Count > 0)
                                                        {
                                                            <table class="table table-striped table-bordered table-hover dataTables-example">
                                                                <thead style="background-color:lightsteelblue">
                                                                    <tr>
                                                                        <th>Título</th>
                                                                        <th>Data</th>
                                                                        <th>Tipo</th>
                                                                        <th class="td-one-action">Ações</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @foreach (var cond in (Model.CRM_PEDIDO_VENDA_ANEXO))
                                                                    {
                                                                        <tr>
                                                                            <td>@cond.CRPA_NM_TITULO</td>
                                                                            <td>@cond.CRPA_DT_ANEXO.ToShortDateString()</td>
                                                                            @if (cond.CRPA_IN_TIPO == 1)
                                                                            {
                                                                                <td>Imagem</td>
                                                                            }
                                                                            else
                                                                            {
                                                                                <td>Arquivo</td>
                                                                            }
                                                                            <td class="td-one-action">
                                                                                @if (cond.CRPA_IN_TIPO == 1 || cond.CRPA_IN_TIPO == 2)
                                                                                {
                                                                                    @Html.TableLinkDetails(cond.CRPA_CD_ID, "VerAnexoCRMPedido", "fa-camera", "Visualizar")
                                                                                }
                                                                                @if (cond.CRPA_IN_TIPO == 3)
                                                                                {
                                                                                    <a title="Visualizar" class="fa fa-camera fa-lg" href="~/PdfViewer/web/viewer.html?file=@(cond.CRPA_AQ_ARQUIVO.Replace("~", ""))&ReturnUrl=@Request.Url.AbsolutePath" target="_blank"></a>
                                                                                }
                                                                                @Html.TableLinkDetails(cond.CRPA_CD_ID, "DownloadCRMPedido", "fa-download", "Download")
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        }
                                                        <div class="form-group">
                                                            <div class="col-lg-12 col-md-12 col-xs-12">
                                                                <input style="float: left; margin-right: 5px;" type="file" name="file" id="file" class="btn btn-sm btn-warning" />
                                                                <input style="float: left; margin-right: 5px;" type="submit" value="Incluir Anexo" class="btn btn-sm btn-success" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @*Itens do pedido*@
                            @if ((Int32)Session["SegueInclusao"] == 0)
                            {
                                <div id="tab-4" class="tab-pane">
                                    <div class="panel-body">
                                        <div class="row">                                          
                                            <hr />
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;"> 
                                                <div class="col-lg-12 col-md-12 col-xs-12">
                                                    <h4>Itens da Venda</h4>
                                                    <br />
                                                    @if (Model.CRM_PEDIDO_VENDA_ITEM != null)
                                                    {
                                                        if (Model.CRM_PEDIDO_VENDA_ITEM.Count > 0)
                                                        {
                                                            <table class="table table-striped table-bordered table-hover dataTables-example">
                                                                <thead style ="background-color:lightsteelblue">
                                                                    <tr>
                                                                        <th>Tipo</th>
                                                                        <th>Produto</th>
                                                                        <th>Modelo</th>
                                                                        <th>Marca</th>
                                                                        <th>Código</th>
                                                                        <th>Unidade</th>
                                                                        <th>Quantidade</th>
                                                                        <th>Preço Unitário (R$)</th>
                                                                        <th>Desconto (R$)</th>
                                                                        <th>Total (R$)</th>
                                                                        <th class="td-one-action">Ações</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @foreach (var cond in (Model.CRM_PEDIDO_VENDA_ITEM))
                                                                    {
                                                                        <tr>
                                                                            <td>Produto</td>
                                                                            <td>@cond.PRODUTO.PROD_NM_NOME</td>
                                                                            <td>@cond.PRODUTO.PROD_NM_MODELO</td>
                                                                            <td>@cond.PRODUTO.PROD_NM_MARCA</td>
                                                                            <td>@cond.PRODUTO.PROD_CD_CODIGO</td>
                                                                            @if (cond.UNIDADE != null)
                                                                            {
                                                                                <td>@cond.UNIDADE.UNID_NM_NOME</td>
                                                                            }
                                                                            else
                                                                            {
                                                                                <td>-</td>
                                                                            }
                                                                            <td>@cond.CRPI_IN_QUANTIDADE</td>
                                                                            @if (cond.CRPI_VL_PRECO_AJUSTADO != null)
                                                                            {
                                                                                if (cond.CRPI_IN_DIFERENCA == 0)
                                                                                {
                                                                                    <td>@CrossCutting.Formatters.DecimalFormatter(cond.CRPI_VL_PRECO_AJUSTADO.Value)</td>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <td style="background-color: wheat; color: darkred">@CrossCutting.Formatters.DecimalFormatter(cond.CRPI_VL_PRECO_AJUSTADO.Value)</td>
                                                                                }
                                                                            }
                                                                            else
                                                                            {
                                                                                <td>-</td>
                                                                            }
                                                                            @if (cond.CRPI_VL_DESCONTO != null)
                                                                            {
                                                                                <td>@CrossCutting.Formatters.DecimalFormatter(cond.CRPI_VL_DESCONTO.Value)</td>
                                                                            }
                                                                            else
                                                                            {
                                                                                <td>-</td>
                                                                            }
                                                                            @if (cond.CRPI_VL_PRECO_TOTAL != null)
                                                                            {
                                                                                <td>@CrossCutting.Formatters.DecimalFormatter(cond.CRPI_VL_PRECO_TOTAL.Value)</td>
                                                                            }
                                                                            else
                                                                            {
                                                                                <td>-</td>
                                                                                <td>-</td>
                                                                            }
                                                                            <td class="td-one-action">
                                                                                @Html.TableLinkDetails(cond.CRPI_CD_ID, "EditarItemPedidoVenda","fa-edit", "Editar/Consultar")
                                                                                @if (cond.CRPI_IN_ATIVO == 1)
	                                                                            {
                                                                                    <span style="color: #337ab7; cursor:pointer;" alt="Reativar" class="tbl-link fa-lg fa fa-trash-o" onclick="ShowModalExcluir('/CRM/ExcluirItemPedidoVenda/@cond.CRPI_CD_ID')" title="Reativar"></span>
                                                                                }
                                                                                else
                                                                                {   
                                                                                    <span style="color: #337ab7; cursor:pointer;" alt="Reativar" class="tbl-link fa-lg fa fa-refresh" onclick="ShowModalReativar('/CRM/ReativarItemPedidoVenda/@cond.CRPI_CD_ID')" title="Reativar"></span>
                                                                                }
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <br />
                                            @Html.ButtonLinkIndex(text: "Incluir Novo Item na Venda", action: "IncluirItemPedidoVenda", controller: "CRM")
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div id="tab-4" class="tab-pane">
                                    <div class="panel-body">
                                        <div class="row">                                          
                                            <hr />
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;"> 
                                                <div class="col-lg-12 col-md-12 col-xs-12">
                                                    <h4>Itens da Venda</h4>
                                                    <br />
                                                    @if (Model.CRM_PEDIDO_VENDA_ITEM != null)
                                                    {
                                                        if (Model.CRM_PEDIDO_VENDA_ITEM.Count > 0)
                                                        {
                                                            <table class="table table-striped table-bordered table-hover dataTables-example">
                                                                <thead style ="background-color:lightsteelblue">
                                                                    <tr>
                                                                        <th>Tipo</th>
                                                                        <th>Produto</th>
                                                                        <th>Modelo</th>
                                                                        <th>Marca</th>
                                                                        <th>Código</th>
                                                                        <th>Unidade</th>
                                                                        <th>Quantidade</th>
                                                                        <th>Preço Unitário (R$)</th>
                                                                        <th>Desconto (R$)</th>
                                                                        <th>Total (R$)</th>
                                                                        <th class="td-one-action">Ações</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @foreach (var cond in (Model.CRM_PEDIDO_VENDA_ITEM))
                                                                    {
                                                                        <tr>
                                                                            <td>Produto</td>
                                                                            <td>@cond.PRODUTO.PROD_NM_NOME</td>
                                                                            <td>@cond.PRODUTO.PROD_NM_MODELO</td>
                                                                            <td>@cond.PRODUTO.PROD_NM_MARCA</td>
                                                                            <td>@cond.PRODUTO.PROD_CD_CODIGO</td>
                                                                            @if (cond.UNIDADE != null)
                                                                            {
                                                                                <td>@cond.UNIDADE.UNID_NM_NOME</td>
                                                                            }
                                                                            else
                                                                            {
                                                                                <td>-</td>
                                                                            }
                                                                            <td>@cond.CRPI_IN_QUANTIDADE</td>
                                                                            @if (cond.CRPI_VL_PRECO_AJUSTADO != null)
                                                                            {
                                                                                if (cond.CRPI_IN_DIFERENCA == 0)
                                                                                {
                                                                                    <td>@CrossCutting.Formatters.DecimalFormatter(cond.CRPI_VL_PRECO_AJUSTADO.Value)</td>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <td style="background-color: wheat; color: darkred">@CrossCutting.Formatters.DecimalFormatter(cond.CRPI_VL_PRECO_AJUSTADO.Value)</td>
                                                                                }
                                                                            }
                                                                            else
                                                                            {
                                                                                <td>-</td>
                                                                            }
                                                                            @if (cond.CRPI_VL_DESCONTO != null)
                                                                            {
                                                                                <td>@CrossCutting.Formatters.DecimalFormatter(cond.CRPI_VL_DESCONTO.Value)</td>
                                                                            }
                                                                            else
                                                                            {
                                                                                <td>-</td>
                                                                            }
                                                                            @if (cond.CRPI_VL_PRECO_TOTAL != null)
                                                                            {
                                                                                <td>@CrossCutting.Formatters.DecimalFormatter(cond.CRPI_VL_PRECO_TOTAL.Value)</td>
                                                                            }
                                                                            else
                                                                            {
                                                                                <td>-</td>
                                                                                <td>-</td>
                                                                            }
                                                                            <td class="td-one-action">
                                                                                @Html.TableLinkDetails(cond.CRPI_CD_ID, "EditarItemPedidoVenda","fa-edit", "Editar/Consultar")
                                                                                @if (cond.CRPI_IN_ATIVO == 1)
	                                                                            {
                                                                                    <span style="color: #337ab7; cursor:pointer;" alt="Reativar" class="tbl-link fa-lg fa fa-trash-o" onclick="ShowModalExcluir('/CRM/ExcluirItemPedidoVenda/@cond.CRPI_CD_ID')" title="Reativar"></span>
                                                                                }
                                                                                else
                                                                                {   
                                                                                    <span style="color: #337ab7; cursor:pointer;" alt="Reativar" class="tbl-link fa-lg fa fa-refresh" onclick="ShowModalReativar('/CRM/ReativarItemPedidoVenda/@cond.CRPI_CD_ID')" title="Reativar"></span>
                                                                                }
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <br />
                                            @Html.ButtonLinkIndex(text: "Incluir Novo Item na Venda", action: "IncluirItemPedidoVenda", controller: "CRM")
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    <link href="~/Content/jquery.datetimepicker.css" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/toastrStyles")
    @*@Styles.Render("~/Content/plugins/summernote/summernote.css")*@
    <link href="~/Content/jquery-ui-timepicker-addon.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/select2/select2.min.css" rel="stylesheet" />
    @Styles.Render("~/plugins/summernoteStyles")
    @Styles.Render("~/Content/plugins/summernote/summernote.css")
}
@section Scripts {
    <script src="~/Scripts/jquery.datetimepicker.full.min.js"></script>
    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.datetimepicker"></script>
    <script src="~/Scripts/jquery-ui-timepicker-addon.min.js"></script>
    @Scripts.Render("~/plugins/toastr")
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/sparkline")
    @*@Scripts.Render("~/Scripts/plugins/summernote/summernote.min.js")*@
    <script src="~/Scripts/plugins/select2/select2.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>    
    <script src="~/Scripts/uploadAnexo.js"></script>
    @Scripts.Render("~/plugins/summernote")
    @Scripts.Render("~/Scripts/plugins/summernote/summernote.min.js")

    <script>
        $(function () {
            limpaModal();
        });

        function limpaModal() {
            $('#btnModal').remove();
            $('#modalTitle').remove();
        }

        function ShowModalExcluir(url) {
            $('#modal').find('.modal-footer').prepend('<a id="btnModal" alt="Desativar" class="btn btn-primary" href="' + url + '" target="_self" title="Desativar">Confirmar</a>');
            $('#modal').find('.modal-body').html('Confirma exclusão do Item de Pedido?');
            $('#modal').find('.modal-header').prepend('<h5 id="modalTitle" class="modal-title">Confimar Exclusão</h5>');
            $('#modal').modal('show');
        }

        function ShowModalReativar(url) {
            $('#modal').find('.modal-footer').prepend('<a id="btnModal" alt="Reativar" class="btn btn-primary" href="' + url + '" target="_self" title="Reativar">Confirmar</a>');
            $('#modal').find('.modal-body').html('Confirma reativação do Item de Pedido?');
            $('#modal').find('.modal-header').prepend('<h5 id="modalTitle" class="modal-title">Confimar Reativação</h5>');
            $('#modal').modal('show');
        }
    </script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('.summernote').summernote();

        });

        var edit = function () {
            $('.click2edit').summernote({ focus: true });
        };

        var save = function () {
            var aHTML = $('.click2edit').code(); //save HTML If you need(aHTML: array).
            $('.click2edit').destroy();
        };
    </script>
    <script>
        function mostrarDesc(desc) {
            $('#modalDescBody').html(desc);
            $('#modalDesc').modal('show');
        }
    </script>
    <script>
        function MudaIdCliente(id) {
            $('#idClie').val(id);
        }
    </script>
    <script>
        function CalculaTotal() {
            var prod = $('#prods').val() == "" ? 0 : $('#prods').val();
            var serv = $('#servs').val() == "" ? 0 : $('#servs').val();
            var desc = $('#desc').val() == "" ? 0 : $('#desc').val();
            var frete = $('#frete').val() == "" ? 0 : $('#frete').val();

            prod = (parseFloat(prod.replace(',', '.')));
            serv = (parseFloat(serv.replace(',', '.')));
            desc = (parseFloat(desc.replace(',', '.')));
            frete = (parseFloat(frete.replace(',', '.')));

            var tot = 0;
            if (prod != "")
            {
                tot = tot + prod;
            }
            if (serv != "")
            {
                tot = tot + serv;
            }
            if (desc != "")
            {
                tot = tot - desc;
            }
            if (frete != "")
            {
                tot = tot + frete;
            }
            $('#total').val(parseFloat(tot).toFixed(2).replace('.', ','));
        }
    </script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('.dataTables-example').DataTable({
                pageLength: 25,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'excel', title: 'ExampleFile' },
                    { extend: 'pdf', title: 'ExampleFile' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                    .addClass('compact')
                                    .css('font-size', 'inherit');
                        }
                    }
                ]

            });

           

        });
    </script>

    <script type="text/javascript" language="javascript">
        $(function () {
            $('.date-picker').datepicker(
                {
                    dateFormat: 'dd/mm/yy',
                    dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                    dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                    dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                    monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                    monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                    nextText: 'Proximo',
                    prevText: 'Anterior',
                    showOn: "focus"
                }
            )
                .css("display", "normal")
                .next("button").button({
                    icons: { primary: "ui-icon-calendar" },
                    label: "Selecione uma data",
                    text: false
                });
        });
    </script>


    <script type="text/javascript">
        $(function () {
            $("#data1").mask("99/99/9999");
            $("#data2").mask("99/99/9999");
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            var i = -1;
            var toastCount = 0;
            var $toastlast;
            var getMessage = function () {
                var msg = 'Hi, welcome to Inspinia. This is example of Toastr notification box.';
                return msg;
            };

            $('#basictoast').click(function () {
                // Display a success toast, with a title
                toastr.success('Edição am andamento!')
            });
            $('#showtoast').click(function () {
                var shortCutFunction = $("#toastTypeGroup input:radio:checked").val();
                var msg = $('#message').val();
                var title = $('#title').val() || '';
                var $showDuration = $('#showDuration');
                var $hideDuration = $('#hideDuration');
                var $timeOut = $('#timeOut');
                var $extendedTimeOut = $('#extendedTimeOut');
                var $showEasing = $('#showEasing');
                var $hideEasing = $('#hideEasing');
                var $showMethod = $('#showMethod');
                var $hideMethod = $('#hideMethod');
                var toastIndex = toastCount++;
                toastr.options = {
                    closeButton: $('#closeButton').prop('checked'),
                    debug: $('#debugInfo').prop('checked'),
                    progressBar: $('#progressBar').prop('checked'),
                    positionClass: $('#positionGroup input:radio:checked').val() || 'toast-top-right',
                    onclick: null
                };
                if ($('#addBehaviorOnToastClick').prop('checked')) {
                    toastr.options.onclick = function () {
                        alert('You can perform some custom action after a toast goes away');
                    };
                }
                if ($showDuration.val().length) {
                    toastr.options.showDuration = $showDuration.val();
                }
                if ($hideDuration.val().length) {
                    toastr.options.hideDuration = $hideDuration.val();
                }
                if ($timeOut.val().length) {
                    toastr.options.timeOut = $timeOut.val();
                }
                if ($extendedTimeOut.val().length) {
                    toastr.options.extendedTimeOut = $extendedTimeOut.val();
                }
                if ($showEasing.val().length) {
                    toastr.options.showEasing = $showEasing.val();
                }
                if ($hideEasing.val().length) {
                    toastr.options.hideEasing = $hideEasing.val();
                }
                if ($showMethod.val().length) {
                    toastr.options.showMethod = $showMethod.val();
                }
                if ($hideMethod.val().length) {
                    toastr.options.hideMethod = $hideMethod.val();
                }
                if (!msg) {
                    msg = getMessage();
                }
                $("#toastrOptions").text("Command: toastr["
                    + shortCutFunction
                    + "](\""
                    + msg
                    + (title ? "\", \"" + title : '')
                    + "\")\n\ntoastr.options = "
                    + JSON.stringify(toastr.options, null, 2)
                );
                var $toast = toastr[shortCutFunction](msg, title); // Wire up an event handler to a button in the toast, if it exists
                $toastlast = $toast;
                if ($toast.find('#okBtn').length) {
                    $toast.delegate('#okBtn', 'click', function () {
                        alert('you clicked me. i was toast #' + toastIndex + '. goodbye!');
                        $toast.remove();
                    });
                }
                if ($toast.find('#surpriseBtn').length) {
                    $toast.delegate('#surpriseBtn', 'click', function () {
                        alert('Surprise! you clicked me. i was toast #' + toastIndex + '. You could perform an action here.');
                    });
                }
            });
            function getLastToast() {
                return $toastlast;
            }
            $('#clearlasttoast').click(function () {
                toastr.clear(getLastToast());
            });
            $('#cleartoasts').click(function () {
                toastr.clear();
            });

        });
    </script>
    <script>

        function SubmitCEP() {

            var usr= document.getElementById('cep1').value;

            $.ajax({
                type: "POST",
                url: '@Url.Action("BuscarCEPCliente")',
                data: "CEP:" + usr
            });

            return true;
        }
    </script>

    <script>
        function PesquisaCep(cep, btn, tipoEnd) {
            data = {
                cep: cep
                , tipoEnd: tipoEnd
            }

            $(btn).attr("disabled", "disabled");

            $.ajax({
                url: '../PesquisaCEP_Javascript'
                , type: 'POST'
                , data: data
                , success: function (r) {
                    if (tipoEnd == 1) {
                        $('#endereco').val(r.CLIE_NM_ENDERECO);
                        $('#bairro').val(r.CLIE_NM_BAIRRO);
                        $('#cidade').val(r.CLIE_NM_CIDADE);

                        $('#uf option[value="' + r.UF_CD_ID + '"]').attr("selected", "selected");
                        $('#btnBuscaCep').removeAttr("disabled");
                    }
                }
            });
        }
    </script>

     <script>
        function MudaIdCliente(id) {
            $('#idClie').val(id);
        }
    </script>

    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                  alert("@ViewBag.Message");
            };
        </script>
    }
}

